
.wrapper{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 500px;
    background: wheat;
    gap:120px;
    height: 50vh; 
    margin-top: 150px;
  }

  .section-one { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
    margin-top: 10%;
    width: 500px;
    
   }
   
  .section-two{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
    
   }
  

   .ddd {
    background-color: blue;
    color: white;
    font-weight: 700;
    width: 100px;
    padding: 8%;
    
   }

   .par {
    display: flex;
   }